@import "tailwindcss";

@theme {
  --color-primary: #025726;
  --color-secondary: #E3F0AF;
  
  --font-inter: "Inter", sans-serif;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 70px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
